body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0077b6;
    color: white;
}
header h1 {
    text-align: center;
    flex-grow: 1; /* Ocupa el espacio central */
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 20px; /* Espacio lateral para que no choque con botones */
}

.container {
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
    color: #023e8a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #caf0f8;
}
