* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../static/img/backround\ \(1\).png'); 
  background-size: cover;           
  background-repeat: no-repeat;     
  background-position: center;     
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

/* Contenido central */
.main-content {
  padding: 100px 20px 20px;
  text-align: center;
  color: white;
  font-size: 24px;
}

/* Login */
.login-container {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  margin: 40px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  text-align: center;
  
}

.login-container h2 {
  margin-bottom: 20px;
  color: #264653;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #2a9d8f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #21867a;
}

.error {
  color: red;
}